@charset "utf-8";

body{
    width:auto;
    background-color: #fff;
}
.main{
    text-align:center;
}
.main img{
    width: 50%;
    height: 300px;
}
.container{
    font-size: 20px;
}
.container p{
    text-align: center;
}
.main button{
    background-color:#92c2d2 ;
    text-align: center;
    width: 200px;
    height: 70px;
    border-radius: 100vh;
    margin-top: 180px;
    font-size: large;

}

.main button:hover{
    color: #fff;
    cursor: pointer;
}